*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
body{
    background: url("https://vsitury.com.ua/uploads/156/21616/P6.jpg");
}
.airplane{
    width: 250px;
    padding-top: 200px;
    padding-left: 10px;
    animation-name: airplane;
    animation-duration: 6s;
    animation-delay: 2s;
    position: absolute;

}


@keyframes airplane {
   0%{
    width: 250px;
    position: relative;
    top: 200px;
    left:10px;
    transform:rotate(30deg);
    -webkit-transform:rotate(30deg);
    -moz-transform:rotate(30deg);
    -ms-transform:rotate(30deg);
    -o-transform:rotate(30deg);
}

   12.5%{
    width: 250px;
    position: relative;
    top: 0px;
    left:150px;
    transform:rotate(-30deg);
    -webkit-transform:rotate(-30deg);
    -moz-transform:rotate(-30deg);
    -ms-transform:rotate(-30deg);
    -o-transform:rotate(-30deg);
}

   25%{
    width: 250px;
    position: relative;
    top: 200px;
    left:350px;
    transform:rotate(30deg);
    -webkit-transform:rotate(30deg);
    -moz-transform:rotate(30deg);
    -ms-transform:rotate(30deg);
    -o-transform:rotate(30deg);
}
    50%{
    width: 250px;
    position: relative;
    top: 2px;
    left:550px;
    transform:rotate(-30deg);
    -webkit-transform:rotate(-30deg);
    -moz-transform:rotate(-30deg);
    -ms-transform:rotate(-30deg);
    -o-transform:rotate(-30deg);
}
75%{
    width: 250px;
    position: relative;
    top: 200px;
    left:750px;
    transform:rotate(30deg);
    -webkit-transform:rotate(30deg);
    -moz-transform:rotate(30deg);
    -ms-transform:rotate(30deg);
    -o-transform:rotate(30deg);
}
85%{
    width: 250px;
    position: relative;
    top: 0px;
    left:950px;
    transform:rotate(-30deg);
    -webkit-transform:rotate(-30deg);
    -moz-transform:rotate(-30deg);
    -ms-transform:rotate(-30deg);
    -o-transform:rotate(-30deg);
}
100%{
    width: 250px;
    position: relative;
    top: 0px;
    left:1550px;
    transform:rotate(15deg);
    -webkit-transform:rotate(15deg);
    -moz-transform:rotate(15deg);
    -ms-transform:rotate(15deg);
    -o-transform:rotate(15deg);
}
}